@using UK.NHS.CookieBanner.ViewModels
@model CookieConsentViewModel;
@{
    var model = Model;
    TempData["Layout"] = (string.IsNullOrEmpty(model.Layout) ? "_Layout" : model.Layout);
    model.Layout = TempData["Layout"].ToString();

    if (model == null)
    {
        model = new CookieConsentViewModel { UserConsent = "" };
    }
}
<form method="post" asp-controller="CookieConsent" asp-action="CookiePolicy">
    @Html.HiddenFor(model => model.Layout)
    <div class="nhsuk-u-reading-width">
        <p>We'll only use these cookies if you say it's OK. We'll use a cookie to save your settings.</p>

        <h3>Tell us if we can use analytics cookies</h3>
        <fieldset class="nhsuk-fieldset" id="cookie-statistics-form" aria-describedby="cookie-statistics">
            <div class="nhsuk-radios nhsuk-radios--inline nhsuk-u-margin-bottom-6">
                <div class="nhsuk-radios__item">
                    <input class="nhsuk-radios__input"
                           id="input-statistics-1"
                           asp-for="UserConsent"
                           type="radio"
                           value="true">
                    <label class="nhsuk-label nhsuk-radios__label" for="input-statistics-1">
                        Use cookies to measure my website use
                    </label>
                </div>
                <div class="nhsuk-radios__item">
                    <input class="nhsuk-radios__input"
                           id="input-statistics-2"
                           asp-for="UserConsent"
                           type="radio"
                           value="false" />
                    <label class="nhsuk-label nhsuk-radios__label" for="input-statistics-2">
                        Do not use cookies to measure my website use
                    </label>
                </div>
            </div>
        </fieldset>
        <button class="nhsuk-button" type="submit"> Save my cookie settings</button>
    </div>
</form>