@using UK.NHS.CookieBanner.ViewModels
@inject IConfiguration Configuration
@model CookieConsentViewModel;
@{
    ViewData["Title"] = Configuration["CookieBannerConsent:ApplicationName"] + " - Cookie policy";  
    ViewData["DoNotDisplayNavBar"] = true;
    Layout = (string.IsNullOrEmpty(Model.Layout) ? "_Layout" : Model.Layout);    
}

@if (string.IsNullOrEmpty(Model.ErrorMessage))
{
    <div class="nhsuk-width-container app-width-container">
        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">

                <h1>Cookie policy </h1>
                @Model.CookiePolicyContent

                <div class="nhsuk-u-reading-width">
                    <partial name="_CookiePolicyConfirmation" />
                    @if (!string.IsNullOrEmpty(@Model.PolicyUpdatedDateAsShort))
                    {
                        <p class="nhsuk-body-s nhsuk-u-secondary-text-color nhsuk-u-margin-top-7 nhsuk-u-margin-bottom-0">Updated: @Model.PolicyUpdatedDateAsShort</p>
                    }
                </div>
            </div>
        </div>
    </div>
}
else
{
    <h1 class="nhsuk-heading-xl">Something went wrong...</h1>
    <p class="nhsuk-body-m">
        @Model.ErrorMessage
    </p>
}